### Question 1
1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url 
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank 
B) Name 
C) Artist 
D) Upload date 
E) Views

In [20]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium. webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException,ElementClickInterceptedException
import time
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import re

In [2]:
dr=webdriver.Chrome()

In [3]:
dr.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [8]:
name=[]
uploder=[]
View=[]
Date=[]
dr=webdriver.Chrome()
dr.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
nm=dr.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
for i in nm:
    
    nm_=i.text
    rnm=re.findall(r'([^"]+)',nm_)[0]
                   
    name.append(rnm)
    time.sleep(5)
    upldr=dr.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
for i in upldr:
    upld=i.text
    uploder.append(upld)
    time.sleep(5)
    view=dr.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')

for i in view:
    vw=i.text
    View.append(vw)
    time.sleep(5)
    dt=dr.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for i in dt:
    dt_=i.text
    Date.append(dt_)
    time.sleep(5)

In [9]:
yt_rnk=pd.DataFrame({})
yt_rnk['Name']=name
yt_rnk['Uploader']=uploder
yt_rnk['View']=View
yt_rnk['Upload Date']=Date
yt_rnk

,Name,Uploader,View,Upload Date
0,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,14.09,14.09
1,Despacito,Luis Fonsi,8.38,8.38
2,Johny Johny Yes Papa,LooLoo Kids - Nursery Rhymes and Children's Songs,6.87,6.87
3,Bath Song,Cocomelon - Nursery Rhymes,6.62,6.62
4,Shape of You,Ed Sheeran,6.20,6.20
5,See You Again,Wiz Khalifa,6.17,6.17
6,Wheels on the Bus,Cocomelon - Nursery Rhymes,5.88,5.88
7,Phonics Song with Two Words,ChuChu TV Nursery Rhymes & Kids Songs,5.70,5.70
8,Uptown Funk,Mark Ronson,5.15,5.15
9,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,5.07,5.07
10,Gangnam Style,Psy,5.05,5.05
11,Masha and the Bear – Recipe for Disaster,Get Movies,4.58,4.58
12,Dame Tu Cosita,Ultra Records,4.55,4.55
13,Axel F,Crazy Frog,4.34,4.34
14,Sugar,Maroon 5,4.00,4.00
15,Counting Stars,OneRepublic,3.97,3.97
16,Baa Baa Black Sheep,Cocomelon - Nursery Rhymes,3.96,3.96
17,Roar,Katy Perry,3.96,3.96
18,Lakdi Ki Kathi,Jingle Toons,3.91,3.91
19,Waka Waka (This Time for Africa),Shakira,3.85,3.85
20,Sorry,Justin Bieber,3.77,3.77
21,Thinking Out Loud,Ed Sheeran,3.73,3.73
22,Humpty the train on a fruits ride,Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.73,3.73
23,Shree Hanuman Chalisa,T-Series Bhakti Sagar,3.69,3.69
24,Dark Horse,Katy Perry,3.67,3.67
25,Perfect,Ed Sheeran,3.67,3.67
26,Let Her Go,Passenger,3.61,3.61
27,Faded,Alan Walker,3.59,3.59
28,Girls Like You,Maroon 5,3.56,3.56
29,Lean On,Major Lazer Official,3.55,3.55

### Question 2
2. Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/. 
You need to find following details: 
A) Series 
B) Place 
C) Date 
D) Time 
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [22]:
Series=[]
Place=[]
Date=[]
Time=[]
dr.get('https://www.bcci.tv/')
dr.maximize_window()
fixtr=dr.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]').click()
time.sleep(5)

srs=dr.find_elements(By.XPATH,'//div[@class="match-card match-card-fw match-card-up ng-scope"]/div/div[1]/div[1]/h5')
for i in srs:
    siries=i.text
    Series.append(siries)
    time.sleep(3)
plc1=dr.find_elements(By.XPATH,'//div[@class="match-card match-card-fw match-card-up ng-scope"]/div[2]/div/span[1]')
plc2=dr.find_elements(By.XPATH,'//div[@class="match-card match-card-fw match-card-up ng-scope"]/div[2]/div/span[2]')
for i,j in zip(plc1,plc2):
    plce1=i.text
    plce2=j.text
    Place.append(f'{plce1} {plce2}')
    time.sleep(3)
date=dr.find_elements(By.XPATH,'//div[@class="match-card match-card-fw match-card-up ng-scope"]/div/div/div/div[2]/div[1]')
for i in date:
    dat = i.text
    Date.append(dat)
    time.sleep(3)
tme=dr.find_elements(By.XPATH,'//div[@class="match-card match-card-fw match-card-up ng-scope"]/div/div/div/div[2]/div[2]')
for i in tme:
    tm=i.text
    Time.append(tm)
India=pd.DataFrame({})
India['Series']=Series
India['Place']=Place
India['Date']=Date
India['Time']=Time
India

,Series,Place,Date,Time
0,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium, ...","7 MARCH, 2024",9:30 AM IST
1,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
2,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
3,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

### Question 3
3. Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/ 
You have to find following details: A) Rank 
B) State 
C) GSDP(18-19)- at current prices 
D) GSDP(19-20)- at current prices 
E) Share(18-19) 
F) GDP($ billion) 
Note: - From statisticstimes home page you have to reach to economy page through code.

In [10]:
dr.get('http://statisticstimes.com/')
india_gdp=dr.find_element(By.XPATH,'//div[@class="dropdown"][2]/div/a[3]').get_attribute('href')
dr.get(india_gdp)
time.sleep(5)
st_gdp=dr.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').get_attribute('href')
dr.get(st_gdp)
time.sleep(5)
Rank=[]
State=[]
gsdp_22_23=[]
gsdp_21_22=[]
share1819=[]
GDP=[]
rank=dr.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[1]')
for i in rank[0:33]:
    rnk=i.text
    Rank.append(rnk)
    time.sleep(3)
state=dr.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[2]')
for i in state[0:33]:
    stat=i.text
    State.append(stat)
    time.sleep(3)
gdp2223=dr.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[3]')
for i in gdp2223[0:33]:
    gdp23=i.text
    gsdp_22_23.append(gdp23)
    time.sleep(3)
gdp2122=dr.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[3]')
for i in gdp2122[0:33]:
    gdp22=i.text
    gsdp_21_22.append(gdp22)
    time.sleep(3)
share=dr.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[4]')
for i in share[0:33]:
    shr=i.text
    share1819.append(shr)
    time.sleep(3)
gdp=dr.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[5]')
for i in gdp[0:33]:
    g_d_p=i.text
    GDP.append(g_d_p)
    time.sleep(3)
State_Economy=pd.DataFrame({})
State_Economy['Rank']=Rank
State_Economy['State']=State
State_Economy['GSDP(22-23)- at current prices']=gsdp_22_23
State_Economy['GSDP(21-22)- at current prices']=gsdp_21_22
State_Economy['Share(21-22)']=share1819
State_Economy['GDP']=GDP
State_Economy

,Rank,State,GSDP(22-23)- at current prices,GSDP(21-22)- at current prices,Share(21-22),GDP
0,1,Maharashtra,-,-,"3,108,022",13.24%
1,2,Tamil Nadu,"2,364,514","2,364,514","2,071,286",8.82%
2,3,Uttar Pradesh,"2,257,575","2,257,575","1,974,532",8.41%
3,4,Karnataka,"2,241,368","2,241,368","1,962,725",8.36%
4,5,Gujarat,-,-,"1,937,066",8.25%
5,6,West Bengal,"1,554,992","1,554,992","1,363,926",5.81%
6,7,Rajasthan,"1,413,620","1,413,620","1,218,193",5.19%
7,8,Madhya Pradesh,"1,322,821","1,322,821","1,136,137",4.84%
8,9,Andhra Pradesh,"1,317,728","1,317,728","1,133,837",4.83%
9,10,Telangana,"1,313,391","1,313,391","1,128,907",4.81%
10,11,Kerala,-,-,"932,470",3.97%
11,12,Delhi,"1,043,759","1,043,759","904,642",3.85%
12,13,Haryana,"994,154","994,154","870,665",3.71%
13,14,Odisha,"774,869","774,869","670,881",2.86%
14,15,Bihar,"751,396","751,396","650,302",2.77%
15,16,Punjab,"673,107","673,107","614,227",2.62%
16,17,Assam,"493,167","493,167","412,612",1.76%
17,18,Chhattisgarh,"457,608","457,608","406,416",1.73%
18,19,Jharkhand,"393,722","393,722","358,863",1.53%
19,20,Uttarakhand,"302,621","302,621","272,159",1.16%
20,21,Jammu & Kashmir-UT,"227,927","227,927","199,917",0.85%
21,22,Himachal Pradesh,"195,405","195,405","176,269",0.75%
22,23,Goa,-,-,"82,604",0.35%
23,24,Tripura,"72,636","72,636","62,550",0.27%
24,25,Chandigarh,-,-,"45,635",0.19%
25,26,Puducherry,-,-,"44,238",0.19%
26,27,Meghalaya,"42,697","42,697","38,785",0.17%
27,28,Sikkim,"42,756","42,756","37,557",0.16%
28,29,Manipur,-,-,"36,594",0.16%
29,30,Arunachal Pradesh,-,-,"35,124",0.15%
30,31,Nagaland,-,-,"31,913",0.14%
31,32,Mizoram,-,-,"27,824",0.12%
32,33,Andaman & Nicobar Islands,-,-,"10,371",0.04%

### Question 4
4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/ 
You have to find the following details: 
A) Repository title 
B) Repository description 
C) Contributors count 
D) Language used

In [11]:
dr.get('https://github.com/')
time.sleep(5)
trnd_rep=dr.find_element(By.XPATH,'//ul[@class="d-lg-flex list-style-none"]/li[3]/div/div[3]/ul/li[2]/a').get_attribute('href')
dr.get(trnd_rep)
time.sleep(3)
Urls=[]
Title=[]
Disc=[]
contrbt=[]
lngng=[]
urls=dr.find_elements(By.XPATH,'//div[@class="Box"]/div[2]/article/h2/a')
for i in urls:
    url=i.get_attribute('href')
    Urls.append(url)
    time.sleep(3)
title=dr.find_elements(By.XPATH,'//div[@class="Box"]/div[2]/article/h2/a')
for i in title:
    titl=i.text
    Title.append(titl)
    time.sleep(3)
for i in Urls:
    dr.get(i)
    time.sleep(3)
    
    
    try:
        descr=dr.find_element(By.XPATH,'//p[@class="f4 my-3"]')
        d=descr.text
        Disc.append(d)
        time.sleep(3)
    except NoSuchElementException:
        Disc.append('-')
    try:
        cont=dr.find_element(By.XPATH,'//div[@class="Layout-sidebar"]/div/div[5]/div/h2/a/span')
    
        c=cont.text
        contrbt.append(c)
        time.sleep(3)
    except NoSuchElementException:
        contrbt.append('-')
    try:
        lngag=dr.find_element(By.XPATH,'//ul[@class="list-style-none"]')
    
        lngage=lngag.text
        l=l=re.sub(r'\n(\d+)\.(\d+)%\n|\n(\d+)\.(\d+)%',",",lngage)
        ln=re.sub(r',Other,','.',l)
        lngng.append(ln)
        time.sleep(3)
    except NoSuchElementException:
        lngng.append('-')
Github=pd.DataFrame({})
Github['Title']=Title
Github['Description']=Disc
Github['Contribution Count']=contrbt
Github['Language']=lngng
Github

,Title,Description,Contribution Count,Language
0,WongKinYiu / yolov9,Implementation of paper - YOLOv9: Learning Wha...,-,"Python,Shell,"
1,mttaggart / I-S00N,Anxun Shanghai (I-SOON) Data Dump Translations...,-,-
2,google / gemma_pytorch,The official PyTorch implementation of Google'...,4,"Python,Dockerfile,"
3,jackfrued / Python-100-Days,Python - 100天从新手到大师,12,"Python,HTML,Jupyter Notebook."
4,levihsu / OOTDiffusion,Official implementation of OOTDiffusion: Outfi...,3,"Python,Cuda,C++,Shell,Dockerfile,C,"
5,google-deepmind / gemma,Open weights LLM from Google DeepMind.,-,"Jupyter Notebook,Python,"
6,google / gemma.cpp,"lightweight, standalone C++ inference engine f...",5,"C++,CMake,Starlark,"
7,hiddify / hiddify-next,"Multi-platform auto-proxy client, supporting S...",32,"Dart,Kotlin,Swift,C++,CMake,Makefile."
8,SoraWebui / SoraWebui,"SoraWebui is an open-source Sora web client, e...",4,TypeScript.
9,NoteProtocol / NoteWallet,A Command Line Wallet to Send/Receive BTC and ...,-,"TypeScript,JavaScript,"
10,vvbbnn00 / WARP-Clash-API,该项目可以让你通过订阅的方式使用Cloudflare WARP+，自动获取流量。This p...,-,"Python,HTML,Shell,Dockerfile,"
11,lobehub / lobe-chat,"🤯 Lobe Chat - an open-source, modern-design Ch...",63,
12,danswer-ai / danswer,Ask Questions in natural language and get Answ...,50,"Python,TypeScript,JavaScript,Shell,Dockerfile,..."
13,gunnarmorling / 1brc,1️⃣🐝🏎️ The One Billion Row Challenge -- A fun ...,178,"Java,Shell."
14,pytorch / pytorch,Tensors and Dynamic neural networks in Python ...,"3,155","Python,C++,Cuda,C,Objective-C++,CMake."
15,lencx / Noi,"🚀 Power Your World with AI - Explore, Extend, ...",2,"JavaScript,TypeScript,CSS,"
16,apache / echarts,"Apache ECharts is a powerful, interactive char...",218,"TypeScript,JavaScript."
17,MegaManSec / SSH-Snake,"SSH-Snake is a self-propagating, self-replicat...",-,"Shell,Python,"
18,systemdesign42 / system-design,Building the best system design resource in th...,-,-
19,qarmin / czkawka,"Multi functional app to find duplicates, empty...",60,"Rust,Fluent."
20,lowRISC / opentitan,OpenTitan: Open source silicon root of trust,156,"SystemVerilog,C,Python,Rust,C++,Smarty."
21,facebook / react-native,A framework for building native applications u...,"2,612","C++,Java,JavaScript,Objective-C++,Objective-C,..."
22,ashishps1 / awesome-system-design-resources,This repository contains System Design resourc...,2,-
23,chatchat-space / Langchain-Chatchat,Langchain-Chatchat（原Langchain-ChatGLM）基于 Langc...,118,"Python,"
24,zksync / credo,-,26,-

### Question 5
5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the 
following details: 
A) Song name 
B) Artist name 
C) Last week rank 
D) Peak rank 
E) Weeks on board 
 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [12]:
dr.get('https://www.billboard.com/')
chart_btn_path='//div[@class="js-Header-contents"]/div/div/div/div[2]/div/nav/ul/li[1]/a'
top100_path_href='//div[@class="u-flex-grow-0 lrv-u-text-align-center"]/span/a'
sname_path='//li[@class="lrv-u-width-100p"]/ul/li[1]/h3'
aname_path='//li[@class="lrv-u-width-100p"]/ul/li[1]/span'
last_w_rank_path='//li[@class="lrv-u-width-100p"]/ul/li[4]/span'
peak_rank_path='//li[@class="lrv-u-width-100p"]/ul/li[4]/span'
week_board_path='//li[@class="lrv-u-width-100p"]/ul/li[6]/span'
chart_btn=dr.find_element(By.XPATH,chart_btn_path).get_attribute('href')
dr.get(chart_btn)
time.sleep(3)
top100_btn=dr.find_element(By.XPATH,top100_path_href).get_attribute('href')
dr.get(top100_btn)
time.sleep(3)
sname=[]
aname=[]
last_w_rank=[]
peak_rank=[]
week_board=[]
names=dr.find_elements(By.XPATH,sname_path)
for i in names:
    nm=i.text
    sname.append(nm)
    time.sleep(3)
namea=dr.find_elements(By.XPATH,aname_path)
for i in namea:
    nma=i.text
    aname.append(nma)
    time.sleep(3)
lastw=dr.find_elements(By.XPATH,last_w_rank_path)
for i in lastw:
    lstw=i.text
    last_w_rank.append(lstw)
    time.sleep(3)
pkrank=dr.find_elements(By.XPATH,peak_rank_path)
for i in pkrank:
    pk=i.text
    peak_rank.append(pk)
    time.sleep(3)
wkbrd=dr.find_elements(By.XPATH,week_board_path)
for i in wkbrd:
    wk=i.text
    week_board.append(wk)
    time.sleep(3)
HOT100=pd.DataFrame({})
HOT100['Song Name']=sname
HOT100['Artist Name']=aname
HOT100['Last Week Rank']=last_w_rank
HOT100['Peak Rank']=peak_rank
HOT100['Weeks On Board']=week_board
HOT100

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,Lovin On Me,Jack Harlow,1,1,14
1,Texas Hold 'Em,Beyonce,-,-,1
2,Carnival,¥$: Kanye West & Ty Dolla $ign Featuring Rich ...,-,-,1
3,Beautiful Things,Benson Boone,3,3,4
4,Lose Control,Teddy Swims,2,2,27
...,...,...,...,...,...
95,Mmhmm,BigXthaPlug,83,83,8
96,Monaco,Bad Bunny,77,77,18
97,Prove It,21 Savage & Summer Walker,75,75,5
98,Perro Negro,Bad Bunny & Feid,82,82,15
99,Sunday Service,Latto,-,-,1

### Question 6
6. Scrape the details of Highest selling novels. 
A) Book name 
B) Author name 
C) Volumes sold 
D) Publisher 
E) Genre 
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [13]:
#dr=webdriver.Chrome()
dr.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
time.sleep(5)
bname=[]
aname=[]
v_sold=[]
publisher=[]
genre=[]
bname_path='//div[@class="embed block"]/table/tbody/tr/td[2]'
aname_path='//div[@class="embed block"]/table/tbody/tr/td[3]'
v_sold_path='//div[@class="embed block"]/table/tbody/tr/td[4]'
publ_path='//div[@class="embed block"]/table/tbody/tr/td[5]'
genre_path='//div[@class="embed block"]/table/tbody/tr/td[6]'
title=dr.find_elements(By.XPATH,bname_path)
for i in title:
    ttl=i.text
    bname.append(ttl)
    time.sleep(3)
a_name=dr.find_elements(By.XPATH,aname_path)
for i in a_name:
    anm=i.text
    aname.append(anm)
    time.sleep(3)
vsold=dr.find_elements(By.XPATH,v_sold_path)
for i in vsold:
    vsld=i.text
    v_sold.append(vsld)
    time.sleep(3)
pblshr=dr.find_elements(By.XPATH,publ_path)
for i in pblshr:
    pbl=i.text
    publisher.append(pbl)
    time.sleep(3)
gnre=dr.find_elements(By.XPATH,genre_path)
for i in gnre:
    gnr=i.text
    genre.append(gnr)
    time.sleep(3)
Books=pd.DataFrame({})
Books['Book Name']=bname
Books['Auther Name']=aname
Books['Volume Sold']=v_sold
Books['Publisher']=publisher    
Books['Genre']=genre
Books

,Book Name,Auther Name,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### Question 7
7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/ You have 
to find the following details: 
A) Name 
B) Year span 
C) Genre 
D) Run time 
E) Ratings 
F) Votes

In [23]:
dr=webdriver.Chrome()
dr.get('https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc')
time.sleep(5)
dr.execute_script("window.scrollBy(0,1000)")
    
time.sleep(10)
try:
    more_btn=dr.find_element(By.XPATH,'/html/body/div[2]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/div[2]/div/span')
    more_btn.click()
except ElementClickInterceptedException as e:
    print(e)

Message: element click intercepted: Element is not clickable at point (400, 10261)
  (Session info: chrome=122.0.6261.58)
Stacktrace:
	GetHandleVerifier [0x00007FF7B6CC4C82+3505170]
	(No symbol) [0x00007FF7B68F0852]
	(No symbol) [0x00007FF7B67A4145]
	(No symbol) [0x00007FF7B67F0C70]
	(No symbol) [0x00007FF7B67EEA9B]
	(No symbol) [0x00007FF7B67EC2A4]
	(No symbol) [0x00007FF7B67EB035]
	(No symbol) [0x00007FF7B67DF978]
	(No symbol) [0x00007FF7B680BE8A]
	(No symbol) [0x00007FF7B67DF27A]
	(No symbol) [0x00007FF7B680C0A0]
	(No symbol) [0x00007FF7B68283B2]
	(No symbol) [0x00007FF7B680BC33]
	(No symbol) [0x00007FF7B67DD618]
	(No symbol) [0x00007FF7B67DE6B1]
	GetHandleVerifier [0x00007FF7B6CF67DD+3708781]
	GetHandleVerifier [0x00007FF7B6D4FC5D+4074477]
	GetHandleVerifier [0x00007FF7B6D47DDF+4042095]
	GetHandleVerifier [0x00007FF7B6A1A136+708806]
	(No symbol) [0x00007FF7B68FCB0F]
	(No symbol) [0x00007FF7B68F7D14]
	(No symbol) [0x00007FF7B68F7E6C]
	(No symbol) [0x00007FF7B68E79A4]
	BaseThreadInitThunk [0x00007FFDA3467344+20]
	RtlUserThreadStart [0x00007FFDA52626B1+33]

In [32]:
time.sleep(3)
name_path='//div[@class="sc-f24f1c5c-4 eZiMbd dli-parent"]/div/div[2]/div/a'
span_path='//div[@class="sc-f24f1c5c-4 eZiMbd dli-parent"]/div/div[2]/div[2]/span[1]'
rating_path='//div[@class="sc-f24f1c5c-4 eZiMbd dli-parent"]/div/div[2]/span/div/span'
vote_path='//div[@class="sc-f24f1c5c-0 cPpOqU"]'
name=[]
span=[]
rating=[]
vate=[]
name_=dr.find_elements(By.XPATH,name_path)
for i in name_:
    nm=i.text
    nm1=re.findall(r'([^0-9.]+)',nm).tuple
    name.append(nm1)
    time.sleep(3)
spn=dr.find_elements(By.XPATH,span_path)
for i in spn:
    sp=i.text
    span.append(sp)
    time.sleep(3)
rting=dr.find_elements(By.XPATH,rating_path)
for i in rting:
    rtng=i.text
    rating.append(rtng)
    time.sleep(3)
vote=dr.find_elements(By.XPATH,vote_path)
for i in vote:
    vt=i.text
    vt1=re.findall(r'\d.+\d',vt)
    vt2=tuple(vt1)
    vate.append(vt2)
    time.sleep(3)
TVSERIES=pd.DataFrame({})
TVSERIES['Name']=name
TVSERIES['Year Span']=span
TVSERIES['Rating']=rating
TVSERIES['Vote']=vate
TVSERIES

                             Name  Year Span        Rating          Vote
0              [ Game of Thrones]  2011–2019  9.2\n (2.3M)  (2,259,687,)
1                 [ Breaking Bad]  2008–2013  9.5\n (2.1M)  (2,107,220,)
2              [ Stranger Things]  2016–2025  8.7\n (1.3M)  (1,318,440,)
3                      [ Friends]  1994–2004  8.9\n (1.1M)  (1,077,620,)
4             [ The Walking Dead]  2010–2022  8.1\n (1.1M)  (1,070,614,)
5                     [ Sherlock]  2010–2017  9.1\n (989K)    (988,505,)
6          [ The Big Bang Theory]  2007–2019  8.1\n (860K)    (860,279,)
7                       [ Dexter]  2006–2013  8.7\n (759K)    (758,975,)
8        [ How I Met Your Mother]  2005–2014  8.3\n (723K)    (723,488,)
9                   [ The Office]  2005–2013  9.0\n (699K)    (698,806,)
10              [ True Detective]      2014–  8.9\n (642K)    (642,077,)
11              [ Peaky Blinders]  2013–2022  8.8\n (637K)    (636,521,)
12            [ Better Call Saul]  2015–2022  9.0\n (636K)    (635,678,)
13                    [ The Boys]      2019–  8.7\n (634K)    (633,858,)
14                [ Black Mirror]      2011–  8.7\n (632K)    (632,447,)
15              [ Rick and Morty]      2013–  9.1\n (594K)    (593,879,)
16                        [ Lost]  2004–2010  8.3\n (590K)    (589,795,)
17             [ The Mandalorian]      2019–  8.7\n (580K)    (579,786,)
18                     [ Vikings]  2013–2020  8.5\n (575K)    (575,390,)
19                [ Prison Break]  2005–2017  8.3\n (574K)    (574,415,)
20                 [ The Witcher]      2019–  8.0\n (565K)    (564,664,)
21                  [ Squid Game]      2021–  8.0\n (531K)    (530,577,)
22                   [ Westworld]  2016–2022  8.5\n (529K)    (529,326,)
23              [ House of Cards]  2013–2018  8.6\n (528K)    (527,983,)
24                 [ Money Heist]  2017–2021  8.2\n (526K)    (526,061,)
25                       [ House]  2004–2012  8.7\n (504K)    (504,388,)
26              [ The Last of Us]      2023–  8.8\n (501K)    (501,179,)
27             [ Attack on Titan]  2013–2023  9.1\n (498K)    (497,914,)
28                [ Supernatural]  2005–2020  8.4\n (479K)    (478,618,)
29               [ Modern Family]  2009–2020  8.5\n (477K)    (476,570,)
30                       [ Suits]  2011–2019  8.4\n (471K)    (471,445,)
31                   [ Daredevil]  2015–2018  8.6\n (471K)    (470,929,)
32                      [ Narcos]  2015–2017  8.8\n (465K)    (465,230,)
33                [ The Sopranos]  1999–2007  9.2\n (462K)    (462,044,)
34                       [ Arrow]  2012–2020  7.5\n (445K)    (444,607,)
35                        [ Dark]  2017–2020  8.7\n (437K)    (437,164,)
36                [ The Simpsons]      1989–  8.7\n (433K)    (432,713,)
37                       [ Fargo]  2014–2024  8.9\n (416K)    (415,729,)
38                  [ Mr,  Robot]  2015–2019  8.5\n (415K)    (414,842,)
39                        [ Loki]  2021–2023  8.2\n (406K)    (406,156,)
40                  [ South Park]      1997–  8.7\n (403K)    (403,089,)
41                    [ The Wire]  2002–2008  9.3\n (373K)    (372,671,)
42                  [ Death Note]  2006–2007  8.9\n (372K)    (372,123,)
43                   [ The Flash]  2014–2023  7.5\n (367K)    (366,781,)
44         [ House of the Dragon]      2022–  8.4\n (363K)    (363,218,)
45                  [ Family Guy]  1999–2025  8.2\n (362K)    (361,704,)
46                    [ Homeland]  2011–2020  8.3\n (359K)    (359,078,)
47  [ Avatar: The Last Airbender]  2005–2008  9.3\n (358K)    (357,697,)
48          [ Brooklyn Nine-Nine]  2013–2021  8.4\n (356K)    (355,731,)
49                   [ Wednesday]      2022–  8.1\n (353K)    (352,770,)

### Question 8
8. Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/ You 
have to find the following details: 
A) Dataset name 
B) Data type 
C) Task 
D) Attribute type 
E) No of instances 
F) No of attribute G) Year 
 Note: - from the home page you have to go to the Show All Dataset page through code.

In [19]:
dr.get('https://archive.ics.uci.edu/')
vw_dtast_btn=dr.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]').click()
urls=[]
delay=10
ur=dr.find_elements(By.XPATH,'//div[@class="rounded-box bg-base-100"]/div/div/div/a')
for i in range(0,10):
    time.sleep(3)
    for j in ur:
        url=j.get_attribute('href')
        urls.append(url)
    
dataset_nm_path='//div[@class="relative flex flex w-full items-center gap-4 bg-primary p-2"]/div[2]/div/h1' 
datatype_path='//div[@class="relative flex flex-col gap-4 bg-base-100 p-4 shadow"]/div[2]/div[1]/p' 
task_path='//div[@class="relative flex flex-col gap-4 bg-base-100 p-4 shadow"]/div[2]/div[3]/p' 
attributetype_path='//div[@class="relative flex flex-col gap-4 bg-base-100 p-4 shadow"]/div[2]/div[4]/p'
noist_path='//div[@class="relative flex flex-col gap-4 bg-base-100 p-4 shadow"]/div[2]/div[5]/p'
no_attribute_path='//div[@class="relative flex flex-col gap-4 bg-base-100 p-4 shadow"]/div[2]/div[6]/p'
year_path='//h2[@class="text-sm text-primary-content"]'
dataset_name=[]
datatype=[]
task=[]
attributetype=[]
no_of_instance=[]
no_of_attribute=[]
year=[]
for i in urls:
    dr.get(i)
    time.sleep(3)
    try:
        dtst=dr.find_element(By.XPATH,dataset_nm_path).text
        dataset_name.append(dtst)
    except NoSuchElementException:
        dataset_name.append('-')
    try:
        dttyp=dr.find_element(By.XPATH,datatype_path).text
        datatype.append(dttyp)
    except NoSuchElementException:
        datatype.append('-')
    try:
        tsk=dr.find_element(By.XPATH,task_path).text
        task.append(tsk)
    except NoSuchElementException:
        task.append('-')
    try:
        atrbt=dr.find_element(By.XPATH,attributetype_path).text
        attributetype.append(atrbt)
    except NoSuchElementException:
        attributetype.append('-')
    try:
        noins=dr.find_element(By.XPATH,noist_path).text
        no_of_instance.append(noins)
    except NoSuchElementException:
        no_of_instance.append('-')
    try:
        noatr=dr.find_element(By.XPATH,no_attribute_path).text
        no_of_attribute.append(noatr)
    except NoSuchElemenetException:
        no_of_attribute.append('-')
    try:
        yr=dr.find_element(By.XPATH,year_path).text
        yr1=re.findall(r'[^A-z]+',yr)[1]
        yr2=re.sub(r'\s','',yr1)
        year.append(yr2)
    except NoSuchElementException:
        year.append('-')
UCI=pd.DataFrame({})
UCI['Dataset Name']=dataset_name
UCI['Data Type']=datatype
UCI['Task']=task
UCI['Attribute Type']=attributetype
UCI['No Of Instance']=no_of_instance
UCI['No Of Attribute']=no_of_attribute
UCI['Year']=year
UCI

,Dataset Name,Data Type,Task,Attribute Type,No Of Instance,No Of Attribute,Year
0,Iris,Tabular,Classification,Real,150,4,6/30/1988
1,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,16,9/13/2020
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,6/30/1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,7,10/5/2019
4,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,4/30/1996
...,...,...,...,...,...,...,...
95,Raisin,Multivariate,Classification,"Real, Integer",900,7,8/13/2023
96,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,10/31/1995
97,Wine,Tabular,Classification,"Integer, Real",178,13,6/30/1991
98,Wine Quality,Multivariate,"Classification, Regression",Real,4898,11,10/6/2009
99,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1,20,-

In [35]:
text='[nbkdnbk]'
d=re.findall(r'([^(\[\])])')
d

TypeError: findall() missing 1 required positional argument: 'string'