In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')

In [2]:
dr=webdriver.Chrome()

In [4]:
dr.get('https://www.amazon.in/')

In [6]:
sr=dr.find_element(By.XPATH,'//div[@class="nav-search-field "]/input')
sr.send_keys('Laptop')

In [7]:
sr_btn=dr.find_element(By.XPATH,'//div[@class="nav-right"]/div/span')
sr_btn.click()

In [11]:
cpu_btn=dr.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[19]/span/span[10]/li/span/a/span')
cpu_btn.click()

In [34]:
pr_brand=[]
pr_rat=[]
pr_price=[]

In [36]:
brand=dr.find_elements(By.XPATH,'//div[@class="a-row a-color-secondary"]/h2/span')
for i in brand[0:10]:
    pbrand=i.text
    pr_brand.append(pbrand)
print(len(pr_brand))
print(pr_brand)

10
['ASUS', 'MSI', 'Lenovo', 'ASUS', 'HP', 'MSI', 'Acer', 'Acer', 'HP', 'HP']

In [38]:
rating=dr.find_elements(By.XPATH,'//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style"]/span')
for i in rating[0:10]:
    prating=i.text
    pr_rat.append(prating)
print(len(pr_rat))
print(pr_rat)

20
['413', '58', '432', '178', '25', '1', '207', '681', '22', '87', '413', '58', '432', '178', '25', '1', '207', '681', '22', '87']

In [39]:
price=dr.find_elements(By.XPATH,'//div[@class="a-row"]/a/span/span/span[2]')
for i in price[0:10]:
    prprice=i.text
    pr_price.append(prprice)
print(len(pr_price))
print(pr_price)

10
['64,990', '54,990', '62,990', '77,990', '81,990', '1,84,990', '54,990', '1,14,990', '84,899', '99,990']

In [40]:
df=pd.DataFrame({'Brand':pr_brand[0:10],'Rating':pr_rat[0:10],'Price':pr_price[0:10]})
df

    Brand Rating     Price
0    ASUS    413    64,990
1     MSI     58    54,990
2  Lenovo    432    62,990
3    ASUS    178    77,990
4      HP     25    81,990
5     MSI      1  1,84,990
6    Acer    207    54,990
7    Acer    681  1,14,990
8      HP     22    84,899
9      HP     87    99,990