In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
dr=webdriver.Chrome()
dr.get('https://www.flipkart.com/')

In [4]:
pr_sr=dr.find_element(By.CLASS_NAME,'Pke_EE')
pr_sr.send_keys('sneakers')

In [5]:
sr_btn=dr.find_element(By.CLASS_NAME,'_2iLD__')
sr_btn.click()

In [8]:
pr_brand=[]
pr_rev=[]
pr_price=[]

In [9]:
for i in range(0,3):
    
    brand=dr.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for j in brand[0:40]:
        prbrand=j.text
        pr_brand.append(prbrand)
    nxtbtn=dr.find_element(By.CLASS_NAME,'_1LKTO3')
    nxtbtn.click()
    time.sleep(3)
print(len(pr_brand))
print(pr_brand)

120
['URBANBOX', 'aadi', 'URBANBOX', 'BRUTON', 'Deals4you', 'aadi', 'kardam&sons', 'BRUTON', 'streetLOOK', 'Krors', 'kardam&sons', 'kardam&sons', 'aadi', 'Robbie jones', 'aadi', 'PUMA', 'BRUTON', "K' Footlance", 'asian', 'Redystar', 'BRUTON', 'CCICACO', 'RED TAPE', 'RED TAPE', 'HOTSTYLE', 'HOTSTYLE', 'BRUTON', 'BRUTON', 'asian', 'Ego by NS', "K' Footlance", "K' Footlance", 'asian', 'CAMPUS', 'BRUTON', 'streetLOOK', 'aadi', 'BRUTON', 'RED TAPE', 'MEGPAR', 'aadi', 'BRUTON', 'HOTSTYLE', 'Skechers', 'RED TAPE', 'RED TAPE', 'aadi', "K' Footlance", 'MEGPAR', 'PUMA', 'BRUTON', 'BRUTON', 'CAMPUS', 'aadi', 'HRX by Hrithik Roshan', 'HOTSTYLE', "K' Footlance", "K' Footlance", 'BIRDE', 'Kraasa', 'aadi', 'BRUTON', 'WHITE WALKERS', 'ATOM', 'HRX by Hrithik Roshan', 'BRUTON', 'andD', 'Magnolia', 'Labbin', 'AMICO', 'BRUTON', 'BRUTON', 'PUMA', 'BRUTON', 'PUMA', 'aadi', "K' Footlance", "K' Footlance", 'PUMA', 'Fuoatieec', 'aadi', 'BRUTON', 'URBANBOX', 'BRUTON', 'Deals4you', 'aadi', 'BRUTON', 'aadi', 'streetLOOK', 'Krors', "K' Footlance", 'BRUTON', 'aadi', 'Robbie jones', 'PUMA', 'asian', 'BRUTON', "K' Footlance", 'Redystar', 'RED TAPE', "K' Footlance", 'aadi', 'HOTSTYLE', 'RED TAPE', 'HOTSTYLE', 'asian', 'BRUTON', 'andD', 'CAMPUS', 'Ego by NS', 'Magnolia', 'BRUTON', 'asian', 'CAMPUS', 'Redystar', 'BRUTON', 'BRUTON', "K' Footlance", 'ATOM', 'HOTSTYLE']

In [11]:
for i in range(0,3):
    rev=dr.find_elements(By.XPATH,'//div[@class="_1xHGtK _373qXS"]/div/a[1]')
    for j in rev[0:40]:
        prrev=j.text
        pr_rev.append(prrev)
    nxtbtn=dr.find_element(By.CLASS_NAME,'_1LKTO3')
    nxtbtn.click()
    time.sleep(3)
print(len(pr_rev))    
print(pr_rev)

120
['Trending Stylish Casual Outdoor Sneakers Shoes For Men ...', 'Modern Trendy Shoes Sneakers For Men', 'Sneakers For Women', 'Aadi Men Black & Green Casual Sneaker Sneakers For Men', 'Sneakers For Women', 'Premium Ankle Length Black Denim Boots Sneakers For Men', 'Synthetic Leather |Lightweight|Comfort|Summer|Trendy|Wa...', 'Casual Sneakers Colour Blocked Shoes For Boys And Men S...', 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...', 'Smashic Sneakers For Men', 'Carnival-02 Mens High Top Casual Chunky Fashion Sneaker...', 'Latest Sneaker Casual Shoes For Men |Sneakers For Men S...', 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...', 'FASHION-BLACK-9 Sneakers For Men', 'Designer Sneakers For Men', 'Casual Sneaker Shoes for Men | Soft Cushioned Insole, S...', 'FLYING FURY Sneakers For Men', 'Sneakers For Men', 'Sneaker Casual Shoes For Men | Soft Cushion Insole||Ach...', 'CUPID Sneakers For Women', '2 Combo Sneaker Shoes Sneakers For Men', 'Latest Sneaker Casual Shoes For Men|Sneakers For Men|Sh...', 'Sneaker Casual Shoes for Men | Soft Cushioned Insole, S...', 'Sneaker Casual Shoes for Men | Soft Cushioned Insole, S...', 'White New Stylish Look Comfortable Casual Shoes Womens ...', 'ST Runner v3 Mesh Sneakers For Men', 'FLYING FURY Sneakers For Men', 'Alpha Predator Sneakers For Men', 'FAST Trendy Sneakers For Men', 'BOBS SQUAD CHAOS - FACE OFF Sneakers For Women', 'Sneakers For Men', 'Cityscape Sneakers For Men', 'Sneakers For Men', 'FAST Trendy Sneakers For Men', 'Classic Sneakers For Men', 'Stylish & Trending Outdoor Walking Comfortable Sneakers...', 'Premium Sports Shoes For Men Pack Of 2 Sneakers For Men', 'Sneakers For Men', 'CLUB CULTURE Sneakers For Men', 'Sneakers For Men', 'Casual Sneakers ColourFul Block Shoes For Boys And Men ...', 'Modern Trendy Sneakers Shoes Sneakers For Men', 'Caven 2.0 Sneakers For Men', 'Shuffle Ultra Sneakers For Men', 'X-Ray 2 Square Sneakers For Men', '2 Combo Sneaker Shoes Sneakers For Men', 'Rungryp Sneakers For Men', 'Sneakers For Men', 'GLIDE-STEP Sneakers For Men', 'Mesh| Lightweight| Premiun| Comfort| Summer Tendy| Outd...', 'kardam&sons luxury fashionable Stylish Light Weight Sne...', 'Sneakers For Women', 'Carnival-02 Mens High Top Casual Chunky Fashion Sneaker...', 'CR-1 Sneakers For Men', 'ORBIT Sneakers For Men', 'Sneakers For Men Sneakers For Men', 'White New Stylish Look Comfortable Casual Shoes Womens ...', 'URBAN CHUNKY Sneakers For Men', 'Casual Sneaker Shoes for Men | Soft Cushioned Insole, S...', 'Sneakers For Men', 'EQUALIZER 4.0 - WRAITHERN Sneakers For Men', 'Modern Trendy Sneakers Shoes Sneakers For Men', 'SM-671 Sneakers For Men', 'Caven 2.0 Sneakers For Men', 'Electron 2.0 Sneakers For Men', 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...', 'Future Rider Play On Sneakers For Men', 'JULIUS Sneakers For Women', 'Blot K1221G Stylish Walking Outdoor Daily Wear Trendy C...', 'CLUB CULTURE Sneakers For Men', 'Sneakers For Men', '( by GO21 ) Soft Insole, Slip-Resistance|Walking Casual...', 'Future Rider Play On Sneakers For Men', 'Sneakers For Men', 'TIGER Comfy Mid-Top Casual Chunky Streetwear Fashion Sn...', '2 Combo Sneaker Shoes Sneakers For Men', 'Sneakers For Men', 'Stylish & Trending Outdoor Walking Comfortable Sneakers...', 'Modern Trendy Sneakers boot Sneakers Sneakers For Men', 'Future Rider Play On Sneakers For Men', 'Trending Stylish Casual Outdoor Sneakers Shoes For Men ...', 'Modern Trendy Shoes Sneakers For Men', 'Sneakers For Women', 'Aadi Men Black & Green Casual Sneaker Sneakers For Men', 'Sneakers For Women', 'Premium Ankle Length Black Denim Boots Sneakers For Men', 'Synthetic Leather |Lightweight|Comfort|Summer|Trendy|Wa...', 'Casual Sneakers Colour Blocked Shoes For Boys And Men S...', 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...', 'Smashic Sneakers For Men', 'Carnival-02 Mens High Top Casual Chunky Fashion Sneaker...', 'Latest Sneaker Casual Shoes For Men |Sneakers For Men S...', 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...', 'FASHION-BLACK-9 Sneakers For Men', 'Designer Sneakers For Men', 'Casual Sneaker Shoes for Men | Soft Cushioned Insole, S...', 'FLYING FURY Sneakers For Men', 'Sneakers For Men', 'Sneaker Casual Shoes For Men | Soft Cushion Insole||Ach...', 'CUPID Sneakers For Women', '2 Combo Sneaker Shoes Sneakers For Men', 'Latest Sneaker Casual Shoes For Men|Sneakers For Men|Sh...', 'Sneaker Casual Shoes for Men | Soft Cushioned Insole, S...', 'Sneaker Casual Shoes for Men | Soft Cushioned Insole, S...', 'White New Stylish Look Comfortable Casual Shoes Womens ...', 'ST Runner v3 Mesh Sneakers For Men', 'FLYING FURY Sneakers For Men', 'Alpha Predator Sneakers For Men', 'FAST Trendy Sneakers For Men', 'BOBS SQUAD CHAOS - FACE OFF Sneakers For Women', 'Sneakers For Men', 'Cityscape Sneakers For Men', 'Sneakers For Men', 'FAST Trendy Sneakers For Men', 'Classic Sneakers For Men', 'Stylish & Trending Outdoor Walking Comfortable Sneakers...', 'Premium Sports Shoes For Men Pack Of 2 Sneakers For Men', 'Sneakers For Men', 'CLUB CULTURE Sneakers For Men', 'Sneakers For Men']

In [12]:
for i in range(0,3):
    price=dr.find_elements(By.CLASS_NAME,'_30jeq3')
    for j in price[0:40]:
        prprice=j.text
        pr_price.append(prprice)
    nxtbtn=dr.find_element(By.CLASS_NAME,'_1LKTO3')
    nxtbtn.click()
    time.sleep(3)
print(len(pr_price))
print(pr_price)

120
['₹599', '₹315', '₹2,700', '₹1,900', '₹3,565', '₹537', '₹2,300', '₹374', '₹3,369', '₹382', '₹421', '₹439', '₹1,039', '₹315', '₹699', '₹317', '₹395', '₹996', '₹1,709', '₹1,764', '₹2,699', '₹431', '₹869', '₹2,700', '₹2,220', '₹256', '₹2,894', '₹948', '₹725', '₹1,006', '₹1,559', '₹999', '₹2,880', '₹297', '₹1,399', '₹537', '₹2,086', '₹448', '₹349', '₹3,289', '₹317', '₹249', '₹299', '₹299', '₹399', '₹386', '₹497', '₹499', '₹599', '₹528', '₹499', '₹499', '₹299', '₹449', '₹1,769', '₹1,039', '₹499', '₹620', '₹494', '₹1,619', '₹1,239', '₹899', '₹299', '₹292', '₹1,679', '₹1,095', '₹599', '₹849', '₹319', '₹624', '₹1,339', '₹699', '₹1,227', '₹537', '₹494', '₹2,069', '₹1,435', '₹1,088', '₹1,389', '₹399', '₹699', '₹899', '₹1,389', '₹1,339', '₹2,899', '₹297', '₹899', '₹1,104', '₹2,070', '₹1,227', '₹899', '₹1,189', '₹349', '₹829', '₹779', '₹297', '₹1,249', '₹1,399', '₹549', '₹699', '₹899', '₹759', '₹448', '₹1,011', '₹1,088', '₹599', '₹599', '₹979', '₹315', '₹439', '₹1,799', '₹599', '₹2,700', '₹1,900', '₹3,565', '₹537', '₹1,104', '₹1,104', '₹3,369', '₹382']

In [14]:
df=pd.DataFrame({'Brand':pr_brand[0:100],'Review':pr_rev[0:100],'Price':pr_price[0:100]})
df

           Brand                                             Review   Price
0       URBANBOX  Trending Stylish Casual Outdoor Sneakers Shoes...    ₹599
1           aadi               Modern Trendy Shoes Sneakers For Men    ₹315
2       URBANBOX                                 Sneakers For Women  ₹2,700
3         BRUTON  Aadi Men Black & Green Casual Sneaker Sneakers...  ₹1,900
4      Deals4you                                 Sneakers For Women  ₹3,565
..           ...                                                ...     ...
95         asian  Casual Sneaker Shoes for Men | Soft Cushioned ...    ₹297
96        BRUTON                       FLYING FURY Sneakers For Men  ₹1,249
97  K' Footlance                                   Sneakers For Men  ₹1,399
98      Redystar  Sneaker Casual Shoes For Men | Soft Cushion In...    ₹549
99      RED TAPE                           CUPID Sneakers For Women    ₹699

[100 rows x 3 columns]