In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [41]:
driver=webdriver.Chrome()

In [42]:
driver.get('https://www.naukri.com/')

In [43]:
designation=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input')
designation.send_keys('Data Scientist')

In [44]:
loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
loc.send_keys("Banglore")

In [45]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [46]:
job_title=[]
job_loc=[]
company_name=[]
experince=[]

In [47]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a ')
for i in title_tags:
    title=i.text
    job_title.append(title)

print(len(job_title))
print(job_title)

20
['Data Scientist, Marketing', 'AI Data Scientist', 'Senior Data Scientist, Reporting', 'Data Scientist - Senior Associate - P&T Labs', 'GenAI Data Scientist', 'Reliability Data Scientist', 'Sr. Data Scientist', 'Data Scientist', 'Senior Data Scientist - Marketplace', 'Advanced Data Scientist', 'Sr Advanced Data Scientist', 'Senior Data Scientist', 'Principal Data Scientist', 'Data Scientist', 'Senior Data Scientist', 'Data Scientist', 'Data Scientist', 'Principal Data Scientist', 'Lead Data Scientist-NLP,Generative AI', 'Lead Data Scientist']

In [48]:
location_tag=driver.find_elements(By.CLASS_NAME,'locWdth')
for i in location_tag:
    loc=i.text
    job_loc.append(loc)
print(len(job_loc))

20

In [49]:
job_loc

['Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Greater Noida, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru']

In [33]:
com_name=driver.find_elements(By.XPATH,'//span[@class=" comp-dtls-wrap"]/a[1]')
for i in com_name:
    cname=i.text
    company_name.append(cname)
    
print(len(company_name))
print(company_name)

20
['Coursera', 'Ford', 'Coursera', 'PwC Service Delivery Center', 'Ford', 'Ford', 'Visa Inc', 'Fort Technologies', 'Gojek', 'Honeywell', 'Honeywell', 'Walmart', 'Scaler Academy', 'Response Informatics', 'Response Informatics', 'Response Informatics', 'Response Informatics', 'Response Informatics', 'Response Informatics', 'Response Informatics']

In [38]:
exp=driver.find_elements(By.CLASS_NAME,'expwdth')
for i in exp:
    ex=i.text
    experince.append(ex)
print(len(experince))
print(experince)

20
['4-6 Yrs', '2-6 Yrs', '6-7 Yrs', '4-6 Yrs', '5-6 Yrs', '2-7 Yrs', '0-3 Yrs', '1-3 Yrs', '5-11 Yrs', '4-6 Yrs', '4-8 Yrs', '7-9 Yrs', '6-12 Yrs', '8-15 Yrs', '5-10 Yrs', '8-15 Yrs', '4-7 Yrs', '12-15 Yrs', '5-10 Yrs', '7-12 Yrs']

In [40]:
df=pd.DataFrame({'Title':job_title,'Location':job_loc,'Company Name':company_name,'Experience':experince})
df

,Title,Location,Company Name,Experience
0,"Data Scientist, Marketing","Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Coursera,4-6 Yrs
1,AI Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Ford,2-6 Yrs
2,"Senior Data Scientist, Reporting","Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Coursera,6-7 Yrs
3,Data Scientist - Senior Associate - P&T Labs,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",PwC Service Delivery Center,4-6 Yrs
4,GenAI Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Ford,5-6 Yrs
5,Reliability Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Ford,2-7 Yrs
6,Sr. Data Scientist,Bangalore/Bengaluru,Visa Inc,0-3 Yrs
7,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Fort Technologies,1-3 Yrs
8,Senior Data Scientist - Marketplace,Bangalore/Bengaluru,Gojek,5-11 Yrs
9,Advanced Data Scientist,Bangalore/Bengaluru,Honeywell,4-6 Yrs
10,Sr Advanced Data Scientist,"Greater Noida, Bangalore/Bengaluru",Honeywell,4-8 Yrs
11,Senior Data Scientist,Bangalore/Bengaluru,Walmart,7-9 Yrs
12,Principal Data Scientist,Bangalore/Bengaluru,Scaler Academy,6-12 Yrs
13,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Response Informatics,8-15 Yrs
14,Senior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Response Informatics,5-10 Yrs
15,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Response Informatics,8-15 Yrs
16,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Response Informatics,4-7 Yrs
17,Principal Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Response Informatics,12-15 Yrs
18,"Lead Data Scientist-NLP,Generative AI","Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Response Informatics,5-10 Yrs
19,Lead Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Response Informatics,7-12 Yrs