In [16]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [17]:
dr=webdriver.Chrome()

In [18]:
dr.get('https://www.shine.com/')

In [23]:
j_title=dr.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
j_title.send_keys('Data Scientist')

In [24]:
j_loc=dr.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
j_loc.send_keys('Banglore')

In [25]:
s_btn=dr.find_element(By.CLASS_NAME,'searchForm_btnWrap_advance__VYBHN')
s_btn.click()

In [26]:
job_name=[]
com_name=[]
job_loc=[]
job_exp=[]

In [27]:
j_name=dr.find_elements(By.XPATH,'//div[@class="jobCard_jobCard__jjUmu  white-box-border jobCard"]/div/h2/a')
for i in j_name[0:10]:
    jname=i.text
    job_name.append(jname)
print(len(job_name))
print(job_name)

10
['Data Scientist', 'Lead Data Scientist/ Principal Data Scientist', 'Senior Data Scientist', 'Vacancy For Data Scientist Fresher and Experience', 'Lead Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist Urgent Vacancy', 'Pharma Data Scientist', 'Hiring For Data Scientist']

In [28]:
c_name=dr.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in c_name[0:10]:
    cname=i.text
    com_name.append(cname)
print(len(com_name))
print(com_name)

10
['acme services private limited', 'ltimindtree limited', 'fractal', 'neostats', 'yogita staffing solution', 'aereo', 'people staffing solutions', 'diraa hr services', 'yogita staffing solution', 'quiscon biotech']

In [30]:
j_loc=dr.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in j_loc[0:10]:
    jloc=i.text
    job_loc.append(jloc)
print(len(job_loc))
print(job_loc)

10
['Gurugram\n+4', 'Bangalore', 'Bangalore\n+1', 'Bangalore\n+1', 'Canada\n+14', 'Bangalore\n+1', 'Gurugram\n+7', 'Bangalore\n+2', 'Canada\n+14', 'Mumbai City\n+4']

In [32]:
j_exp=dr.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in j_exp[0:10]:
    jexp=i.text
    job_exp.append(jexp)
print(len(job_exp))
print(job_exp)

10
['3 to 5 Yrs', '6 to 8 Yrs', '5 to 9 Yrs', '7 to 11 Yrs', '0 to 3 Yrs', '7 to 10 Yrs', '4 to 9 Yrs', '0 to 4 Yrs', '0 to 3 Yrs', '0 to 1 Yr']

In [34]:
df=pd.DataFrame({'Job TItle':job_name,'Company Name':com_name,'Experience':job_exp,'Location':job_loc})
df

,Job TItle,Company Name,Experience,Location
0,Data Scientist,acme services private limited,3 to 5 Yrs,Gurugram\n+4
1,Lead Data Scientist/ Principal Data Scientist,ltimindtree limited,6 to 8 Yrs,Bangalore
2,Senior Data Scientist,fractal,5 to 9 Yrs,Bangalore\n+1
3,Vacancy For Data Scientist Fresher and Experience,neostats,7 to 11 Yrs,Bangalore\n+1
4,Lead Data Scientist,yogita staffing solution,0 to 3 Yrs,Canada\n+14
5,Data Scientist,aereo,7 to 10 Yrs,Bangalore\n+1
6,Data Scientist,people staffing solutions,4 to 9 Yrs,Gurugram\n+7
7,Data Scientist Urgent Vacancy,diraa hr services,0 to 4 Yrs,Bangalore\n+2
8,Pharma Data Scientist,yogita staffing solution,0 to 3 Yrs,Canada\n+14
9,Hiring For Data Scientist,quiscon biotech,0 to 1 Yr,Mumbai City\n+4