In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
dr=webdriver.Chrome()

In [3]:
dr.get('https://www.shine.com/')

In [5]:
skills=dr.find_element(By.XPATH,'/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[1]/ul/li[1]/div/input')
skills.send_keys('Data Scientist')

In [7]:
s_btn=dr.find_element(By.CLASS_NAME,'searchForm_btnWrap_advance__VYBHN')
s_btn.click()

In [8]:
f_locbtn=dr.find_element(By.CLASS_NAME,'filter_filterBtn__FAqUy ')
f_locbtn.click()

In [9]:
f_loc=dr.find_element(By.CLASS_NAME,'form-control')
f_loc.send_keys('Delhi')

In [13]:
s_loc=dr.find_element(By.XPATH,'/html/body/div[2]/div/div/div/div[3]/div/div/div/ul/li[2]/span/label')
s_loc.click()

In [18]:
f_salary=dr.find_element(By.XPATH,'/html/body/div[3]/div/div/div/div[3]/div/ul/li[3]')
f_salary.click()

In [19]:
f_salary=dr.find_element(By.CLASS_NAME,"form-control")
f_salary.send_keys('3 to 5 ')

In [20]:
f_salbtn=dr.find_element(By.XPATH,'/html/body/div[3]/div/div/div/div[3]/div/div/div/ul/li[2]/span/label')
f_salbtn.click()

In [21]:
r_btn=dr.find_element(By.XPATH,'/html/body/div[3]/div/div/div/div[4]/button[2]')
r_btn.click()

In [22]:
job_title=[]
com_name=[]
job_exp=[]
job_loc=[]

In [23]:
j_title=dr.find_elements(By.XPATH,'//div[@class="jobCard_jobCard__jjUmu  white-box-border jobCard"]/div/h2/a')
for i in j_title[0:10]:
    jtitle=i.text
    job_title.append(jtitle)
print(len(job_title))
print(job_title)

10
['Clinical Data Analyst', 'Bioanalytical Research', 'Bioanalytical Research Associates', 'Clinical Data Management', 'Clinical Analyst Fresher', 'Junior Clinical Data Management', 'Data Engineer', 'Biostatistician', 'Clinical Document Specialist', 'Document Specialist']

In [24]:
c_name=dr.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in c_name[0:10]:
    cname=i.text
    com_name.append(cname)
print(len(com_name))
print(com_name)

10
['acme services private limited', 'techno endura', 'techno endura', 'techno endura', 'techno endura', 'techno endura', 'techno endura', 'future solution centre', 'national seeds corporation limited', 'techno endura']

In [26]:
j_exp=dr.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in j_exp[0:10]:
    jexp=i.text
    job_exp.append(jexp)
print(len(job_exp))
print(job_exp)

10
['3 to 5 Yrs', '0 to 1 Yr', '0 to 1 Yr', '0 to 1 Yr', '0 to 1 Yr', '0 to 1 Yr', '0 to 1 Yr', '10 to 20 Yrs', '2 to 7 Yrs', '0 to 1 Yr']

In [29]:
j_loc=dr.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in j_loc[0:10]:
    jloc=i.text
    job_loc.append(jloc)
print(len(job_loc))
print(job_loc)

10
['Delhi\n+4', 'Delhi\n+6', 'Delhi\n+6', 'Delhi\n+6', 'Delhi\n+6', 'Delhi\n+6', 'Delhi\n+6', 'Delhi\n+9', 'Delhi\n+17', 'Delhi\n+6']

In [30]:
df=pd.DataFrame({'Title':job_title,'Company Name':com_name,'Experience':job_exp,'Location':job_loc})
df

,Title,Company Name,Experience,Location
0,Clinical Data Analyst,acme services private limited,3 to 5 Yrs,Delhi\n+4
1,Bioanalytical Research,techno endura,0 to 1 Yr,Delhi\n+6
2,Bioanalytical Research Associates,techno endura,0 to 1 Yr,Delhi\n+6
3,Clinical Data Management,techno endura,0 to 1 Yr,Delhi\n+6
4,Clinical Analyst Fresher,techno endura,0 to 1 Yr,Delhi\n+6
5,Junior Clinical Data Management,techno endura,0 to 1 Yr,Delhi\n+6
6,Data Engineer,techno endura,0 to 1 Yr,Delhi\n+6
7,Biostatistician,future solution centre,10 to 20 Yrs,Delhi\n+9
8,Clinical Document Specialist,national seeds corporation limited,2 to 7 Yrs,Delhi\n+17
9,Document Specialist,techno endura,0 to 1 Yr,Delhi\n+6