In [1]:
import selenium

In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [3]:
dr=webdriver.Chrome()

In [4]:
dr.get('https://www.shine.com/')

In [6]:
job_title=dr.find_element(By.CLASS_NAME,'form-control  ')
job_title.send_keys('Data Analyst')

In [7]:
loc=dr.find_element(By.XPATH,'/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[1]/ul/li[2]/div/input')
loc.send_keys('Banglore')

In [9]:
btn=dr.find_element(By.CLASS_NAME,'searchForm_btnWrap_advance__VYBHN')
btn.click()

In [10]:
job_N=[]

In [11]:
job_name=dr.find_elements(By.XPATH,'//div[@class="jobCard_jobCard__jjUmu  white-box-border jobCard"]/div/h2/a')
for i in job_name[0:10]:
    jname=i.text
    job_N.append(jname)
job_N

['Data Analyst',
 'Vacancy For Data Analyst',
 'Clinical Data Analyst',
 'Data Modeler data',
 'Data Modeller',
 'Data Modeler Bangalore',
 'Data Modeler',
 'Clinical Data Analyst',
 'Data Analyst Hiring Fresher and Experience',
 'Data Analyst Hiring Fresher and Experience']

In [12]:
print(len(job_N))

10

In [13]:
com_name=[]
job_com=dr.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in job_com[0:10]:
    cname=i.text
    com_name.append(cname)
print(len(com_name))
print(com_name)

10
['ara resources private limited', 'diraa hr services hiring for mncs', 'yogita staffing solution', 'techno endura', 'boyen haddin consulting and technol...', 'boyen haddin consulting and technol...', 'boyen haddin consulting and technol...', 'boyen haddin consulting and technol...', 'quiscon biotech', 'kavya interprises']

In [24]:
exp=[]
experience=dr.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience[0:10]:
    cexp=i.text
    exp.append(cexp)
print(len(exp))
print(exp)

10
['4 to 9 Yrs', '0 to 1 Yr', '0 to 3 Yrs', '0 to 1 Yr', '3 to 6 Yrs', '3 to 6 Yrs', '3 to 6 Yrs', '3 to 6 Yrs', '0 to 2 Yrs', '0 to 4 Yrs']

In [37]:
loc=[]
job_loc=dr.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in job_loc[0:10]:
    jloc=i.text
    loc.append(jloc)
print(len(loc))
print(loc)

10
['Bangalore', 'Bangalore\n+3', 'Canada\n+14', 'Gurugram\n+6', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Mumbai City\n+4', 'Oman\n+13']

In [38]:
df=pd.DataFrame({'Job Name':job_N,'Company Name':com_name,'Experience':exp,'Location':loc})
df

,Job Name,Company Name,Experience,Location
0,Data Analyst,ara resources private limited,4 to 9 Yrs,Bangalore
1,Vacancy For Data Analyst,diraa hr services hiring for mncs,0 to 1 Yr,Bangalore\n+3
2,Clinical Data Analyst,yogita staffing solution,0 to 3 Yrs,Canada\n+14
3,Data Modeler data,techno endura,0 to 1 Yr,Gurugram\n+6
4,Data Modeller,boyen haddin consulting and technol...,3 to 6 Yrs,Bangalore
5,Data Modeler Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs,Bangalore
6,Data Modeler,boyen haddin consulting and technol...,3 to 6 Yrs,Bangalore
7,Clinical Data Analyst,boyen haddin consulting and technol...,3 to 6 Yrs,Bangalore
8,Data Analyst Hiring Fresher and Experience,quiscon biotech,0 to 2 Yrs,Mumbai City\n+4
9,Data Analyst Hiring Fresher and Experience,kavya interprises,0 to 4 Yrs,Oman\n+13